<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>key</servlet-name>
    <servlet-class>controller.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>key</servlet-name>
    <url-pattern>/LoginControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>key1</servlet-name>
    <servlet-class>controller.SignupControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>key1</servlet-name>
    <url-pattern>/SignupControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddControl</display-name>
    <servlet-name>AddControl</servlet-name>
    <servlet-class>controller.AddControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddControl</servlet-name>
    <url-pattern>/AddControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveControl</display-name>
    <servlet-name>RemoveControl</servlet-name>
    <servlet-class>controller.RemoveControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveControl</servlet-name>
    <url-pattern>/RemoveControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditControl</display-name>
    <servlet-name>EditControl</servlet-name>
    <servlet-class>controller.EditControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditControl</servlet-name>
    <url-pattern>/EditControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditControl2</display-name>
    <servlet-name>EditControl2</servlet-name>
    <servlet-class>controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditControl2</servlet-name>
    <url-pattern>/EditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateControl</display-name>
    <servlet-name>UpdateControl</servlet-name>
    <servlet-class>controller.UpdateControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateControl</servlet-name>
    <url-pattern>/UpdateControl</url-pattern>
  </servlet-mapping>
</web-app>